@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #051630;
  --foreground: #aaa4a4;
  --greenHighlight: #18bf7e;
  --textHighlight: #c2cdf2;
  --textColor: #8892b0;
  scroll-behavior: smooth;
}

html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--textColor);
  font-family: Roboto-Mono, monospace;
}
